.splash {
    position: absolute;
    z-index: 1;
    width: 200vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    transition: .1s all ease-in-out;
    &.on-scroll {
        position: fixed;
        align-items: flex-end;
        padding: 1rem;
        top: -90%;
        border-radius: 0 0 50% 50%;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
        h1 {
            color: black;
            font-size: 1rem;
            text-shadow: none;
        }
    }
}

.sangoku {
    position: fixed;
    top: -40vmin;
    right: -30vmin;
    transform: rotate(200deg);
    width: 30vmin;
    transition: .3s ease-in-out;
    &.on-scroll {
        top: -15vmin;
        right: -6vmin;
    }
}

.exercice {
    width: 80%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba($color: burlywood, $alpha: .31);
    .enonce {
        width: 50%;
        padding: 20px;
        border: 1px solid rgba($color: #000, $alpha: 0.1);
        border-radius: 5px;
        span {
            color: coral;
        }
    }
    .reponse {
        width: 50%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        span {
            font-weight: 700;
            font-size: 1.2rem;
        }
        button {
            background-color: darkcyan;
            color: white;
            border: none;
            border-radius: 5px;
            box-shadow: 0 1px 1px rgba($color: #000, $alpha: .5);
            padding: 10px;
            ;
        }
        table {
            margin: 1rem;
            ;
            background-color: black;
            font-size: 0.8em;
            tr {
                background-color: bisque;
                color: darkolivegreen;
                &:nth-of-type(4) {
                    background-color: burlywood;
                    color: white;
                    font-weight: 800;
                }
            }
            td {
                width: 8rem;
                height: 1rem;
            }
        }
        form {
            display: flex;
            flex-flow: column nowrap;
        }
        .gif {
            display: none;
            width: 100px;
        }
        .square {
            width: 200px;
            height: 200px;
            background-color: blueviolet;
        }
        input {
            margin: 1rem 0;
        }
        #haddock-img {
            width: 10rem;
            display: none;
        }
        .btn2 {
            margin: 1rem;
            background-color: orange;
        }
        .light {
            position: relative;
            border: 3px solid black;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin: 1rem;
            background-color: lightgrey;
            &::after {
                content: '';
                position: absolute;
                z-index: 2;
                width: .6rem;
                height: .3rem;
                top: 25%;
                right: 10%;
                transform: rotate(57deg);
                background-color: rgba(255, 255, 255, .8);
                border-radius: 50%;
            }
        }
    }
    &.ex3 {
        .vote-form {
            margin-bottom: 5rem;
        }
        .jauge {
            position: relative;
            align-self: start;
            height: 2rem;
            width: 100%;
            margin-bottom: 3rem;
            span {
                font-weight: 600;
                font-size: .75rem;
                text-align: left;
                position: absolute;
                top: -2rem;
                left: 0;
            }
        }
        .jauge1 {
            background-color: greenyellow;
            width: 50%;
        }
        .jauge2 {
            background-color: red;
            width: 50%;
        }
    }
}